.tabsContainer {
  margin-bottom: 32px;
}

.tabsHeader {
  display: flex;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 32px;
}

.tab {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background: none;
  border: none;
  padding-bottom: 4px;
  margin-right: 32px;
  cursor: pointer;
  position: relative;
  color: #666666;
  transition: color 0.2s ease;

  @media (max-width: 767px) {
    margin-right: 12px;
  }

  &:hover {
    color: #333333;
  }

  &:focus,
  &:active {
    outline: none;
    color: inherit; /* keep current color; active tab will override below */
  }

  &--active {
    color: #ff6f3d;

    &:hover,
    &:focus,
    &:active {
      color: #ff6f3d; /* ensure orange while focused/pressed */
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 2px;
      background: #ff6f3d;
    }
  }
}

.tabContent {
  // Content area for tab panels
}
